body {
text-align:center;
  background:linear-gradient(#f7bb05 0%,#00d4ff 100%);
 }
h1{
  text-shadow: 2px 2px #F4511E;
  font-size:20px; 
}
#bio{
  padding:20px;
  font-size:18px;
  text-align:center;
}